<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/16bd4850-60fe-40b6-ad22-9139733543ce/resourceGroups/MSAP2/providers/Microsoft.Web/sites/aiFileStorageSystemApi</ResourceId>
    <ResourceGroup>MSAP2</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://aifilestoragesystemapi.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://aifilestoragesystemapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$aiFileStorageSystemApi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>