
pdfApi/pdfApi/appsettings.json
pdfApi/.vs/pdfApi/xs/project-cache/pdfApi-Debug.json
pdfApi/.vs/pdfApi/xs/project-cache/pdfApi-Debug.json
pdfApi/pdfApi/appsettings.json
*.json
pdfApi/.vs/pdfApi/xs/project-cache/pdfApi-Debug.json
/pdfApi/pdfApi/bin
/pdfApi/.vs
/pdfApi/pdfApi/obj
pdfApi/pdfApi/appsettings.json
/pdfApi/.vs/pdfApi
pdfApi/.vs/pdfApi/xs/project-cache/pdfApi-Debug.json
pdfApi/.vs/pdfApi/xs/project-cache/pdfApi-Debug.json
/my-app/node_modules
/pdfApi/bin
/pdfApi/obj
/pdfApi/.vs
