
pdfApi/pdfApi/appsettings.json
pdfApi/.vs/pdfApi/xs/project-cache/pdfApi-Debug.json
pdfApi/.vs/pdfApi/xs/project-cache/pdfApi-Debug.json
pdfApi/pdfApi/appsettings.json
*.json
pdfApi/.vs/pdfApi/xs/project-cache/pdfApi-Debug.json
/pdfApi/pdfApi/bin
/pdfApi/.vs
/pdfApi/pdfApi/obj
